body{
background-color: lightgrey;
}

.list-style{
list-style-type: none;
text-align: center; 
padding-bottom: 15%;
}

.img-Formatting{
height: 30%;
width: 30%;
display: flex;
justify-content: left;
}

.adjust-text-description{
   font-family: serif;
   display: flex;
   flex-flow: row wrap;
   float: right;
   margin-left: 3%;
   font-size: 24px;
}

.imgAndDescription{
   display: flex;
   padding-top: 5%;
}

#newsPaper{
   padding-bottom: 15px;
}